{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - Countries members
{% endblock %}
{% block header %}
    Countries members
{% endblock %}
{% block body %}
    <ul>
        {% for country in countries %}
            <li><a href="{{ countryRoute }}{{ country.team }}">{{ country.team }} national football team</a></li>
        {% endfor %}
    </ul>
{% endblock %}