<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>ЄВРО 2016 - Перелік команд, що грають за країну</title>
    <link href="/style/other.css" rel="stylesheet">
</head>
<body>
    <h1>Чемпіонат Європи з футболу 2016</h1>
    <h2>Перелік команд, що грають за країну</h2>
    <ul>
        <li><a href="Country">Збірна</a></li>
    </ul>
    <br>
    <a href="/">На головну</a>
</body>
</html>