<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>ЄВРО 2016 - Перелік тренерів команди</title>
    <link href="/style/other.css" rel="stylesheet">
</head>
<body>
    <h1>Чемпіонат Європи з футболу 2016</h1>
    <h2>Перелік тренерів команди</h2>
    <ul>
        <li><a href="/coach/view/CommandName/Kravchuk">Кравчук</a></li>
        <li><a href="/coach/view/CommandName/Marchuk">Марчук</a></li>
        <li><a href="/coach/view/CommandName/Onopenko">Онопенко</a></li>
        <li><a href="/coach/view/CommandName/Medvedchuk">Медведчук</a></li>
        <li><a href="/coach/view/CommandName/Surkis">Суркіс</a></li>
    </ul>
    <br>
    <a href="/">На головну</a>
</body>
</html>